<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
	<title>Analytics</title>
	
</head>

<body>
 <!-- indoor  -->
 <img src = "../plot/ind_fig1.png" height="300px" width="400px">
 <img src = "../plot/ind_plot.png" height="300px" width="400px">   
 <img src = "../plot/Indoor_f.png" height="300px" width="400px">
<!-- outdoor -->
<img src = "../plot/od_fig1.png" height="300px" width="400px">
<img src = "../plot/od_plot.png" height="300px" width="400px">   
<img src = "../plot/Outdoor_f.png" height="300px" width="400px">

</body>

</html>