<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
	<title>Analytics</title>
	
</head>

<body>
<!-- outdoor -->
<p>OUTDOOR ANALYSIS</p>
<img src = "/static/od_fig1.png" height="300px" width="450px">
<img src = "/static/od_plot.png" height="300px" width="450px">   
<img src = "/static/Outdoor_f.png" height="300px" width="450px">
 <!-- indoor  -->
 <p>INDOOR ANALYSIS</p>
 <img src = "static/ind_fig1.png" height="300px" width="450px">
 <img src = "/static/ind_plot.png" height="300px" width="450px">   
 <img src = "/static/Indoor_f.png" height="300px" width="450px">
</body>

</html>