<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
	<title>Analytics</title>
	
</head>

<body>
 <!-- indoor  -->
 <img src = "/plot/testplot.png" height="300px" width="400px">
 <img src = "/plot/testplot.png" height="300px" width="400px">   
 <img src = "/plot/testplot.png" height="300px" width="400px">
<!-- outdoor -->
<img src = "/plot/testplot.png" height="300px" width="400px">
<img src = "/plot/testplot.png" height="300px" width="400px">   
<img src = "/plot/testplot.png" height="30px" width="400px">

</body>

</html>
