	<!-- Code bellow is inspired by codepen template. Please check the license.txt file -->

<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>BME860 Sensor data</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

      <link rel="stylesheet" href='../static/style.css'/>
 
				    <!-- Bootstrap CSS -->
						<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
						crossorigin="anonymous">
			
				<form action="/analytics" method="post">
					<button name="DASHBOARD" type="submit">DASHBOARD</button>
			</form>

			
					<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
			
						<link rel="stylesheet" href='../static/style.css'/>
</head>

<body>

	<!-- Navigation Section -->
<div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="index.html" >Optimal Analytics</a>
        <button class="navbar-toggler  border border-white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    
                </li>

                
            </ul>
        </div>
    </nav>
</div>

  <div class="bgframe">
  <div class="frame1">
  <div class="center1">
		<div class="temparature-meter__container">
			<div class="temparature-meter__inner">
				<div class="temparature-meter__inner-ring">
					<div class="temparature-outside"><span></span></div>
					<div class="temparature-inside">
						<span class="temparature-count c1">{{ Ind_TemperatureF  }}  °F</span>
						<span class="temparature-count c2">{{ Ind_TemperatureC  }}  °C</span>
						<span class="temperature-sup"></span>
					</div>
					<div class="temparature-meter__inner-label">Room 1</div>
				</div>
			</div>
		</div>
  </div>
</div>

  <div class="frame2">
  <div class="center2">
		<div class="temparature-meter__container">
			<div class="temparature-meter__inner">
				<div class="temparature-meter__inner-ring">
					<div class="temparature-outside"><span></span></div>
					<div class="temparature-inside">
						<span class="temparature-count c1">{{ Ind_TemperatureF2  }}  °F</span>
						<span class="temparature-count c2">{{ Ind_TemperatureC2  }}  °C</span>
						<span class="temperature-sup"></span>
					</div>
					<div class="temparature-meter__inner-label">Room 2</div>
				</div>
			</div>
		</div>
  </div>
</div>

  <div class="frame3">
  <div class="center3">
		<div class="temparature-meter__container">
			<div class="temparature-meter__inner">
				<div class="temparature-meter__inner-ring">
					<div class="temparature-outside"><span></span></div>
					<div class="temparature-inside">
						<span class="temparature-count c1">{{ Ind_TemperatureF3  }}  °F</span>
						<span class="temparature-count c2">{{ Ind_TemperatureC3  }}  °C</span>
						<span class="temperature-sup"></span>
					</div>
					<div class="temparature-meter__inner-label">Room 3</div>
				</div>
			</div>
		</div>
  </div>
</div>

  <div class="frame4">
  <div class="center4">
		<div class="temparature-meter__container">
			<div class="temparature-meter__inner">
				<div class="temparature-meter__inner-ring">
					<div class="temparature-outside"><span></span></div>
					<div class="temparature-inside">
						<span class="temparature-count c1">{{ Ind_TemperatureF4  }}  °F</span>
						<span class="temparature-count c2">{{ Ind_TemperatureC4  }}  °C</span>
						<span class="temperature-sup"></span>
					</div>
					<div class="temparature-meter__inner-label">Room 4</div>
				</div>
			</div>
		</div>
  </div>
</div>

  <div class="frame5">
  <div class="center5">
		<div class="temparature-meter__container">
			<div class="temparature-meter__inner">
				<div class="temparature-meter__inner-ring">
					<div class="temparature-outside"><span></span></div>
					<div class="temparature-inside">
						<span class="temparature-count c1">{{ Out_TemperatureF  }}  °F</span>
						<span class="temparature-count c2">{{ Out_TemperatureC  }}  °C</span>
						<span class="temperature-sup"></span>
					</div>
					<div class="temparature-meter__inner-label">Outside</div>
				</div>
			</div>
		</div>
  </div>
</div>

  <script src='https://100dayscss.com/codepen/js/jquery.min.js'></script>

  

    <script  src="js/index.js"></script>


</body>

</html>
